{% extends 'base.html.twig' %}

{% block title %}Planning of users{% endblock %}

{% block body %}
    {% for new in app.flashes('new-task') %}
        <section class="h-screen w-screen flex items-stretch bg-black absolute z-10 xl:bg-opacity-60" id="alert">
            <script>
                document.getElementById("body").classList.add("overflow-hidden");
            </script>
            <div class="self-center mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
                <button class="translate-y-7 text-red-600 transition hover:text-gray-600" onclick="document.getElementById('alert').remove();document.getElementById('body').classList.remove('overflow-hidden');">
                    <span class="sr-only">Dismiss popup</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                    </svg>
                </button>
                <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
                    <div class="rounded-lg bg-gray-800 p-8 shadow-lg lg:col-span-3 lg:p-12">
                        {{ form_start(form, {
                            'attr': {
                                'class': 'space-y-4'
                            }
                        }) }}
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div>
                                    {{ form_row(form.name) }}
                                </div>
                                <div>
                                {{ form_row(form.dueDate) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.description) }}
                            </div>
                            <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                                {% for radio in form.status %}
                                    <div>
                                        {{ form_widget(radio, {
                                            atrr: {
                                                'class': 'peer sr-only',
                                                'tabindex': '-1',
                                                'name': 'status'
                                            }
                                        }) }}
                                        <label for="{{ radio.vars.id }}" class="block w-full bg-white rounded-lg border border-gray-200 p-3 text-gray-600 cursor-pointer hover:border-black peer-checked:border-black peer-checked:bg-black peer-checked:text-white" tabindex="0">
                                            <span class="text-sm"> {{ radio.vars.label}} </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="inline-block w-full rounded-lg bg-green-400 px-5 py-3 font-medium text-black sm:w-auto">
                                    Create task
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <ul class="my-10 relative z-0">
        <div class="px-6 grid xl:grid-cols-4 gap-4 text-slate-300 md:grid-cols-3 sm:grid-cols-2">
            {% for user in users %}
                <article class="rounded-xl border border-gray-700 bg-gray-800 p-4">
                    <div class="flex items-center gap-4">
                        <a href="/user/{{ user.id }}">
                            <img
                            alt="Developer"
                            src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"
                            class="md:h-16 md:w-16 h-10 w-10 rounded-full object-cover"
                            />
                        </a>
                        <div>
                            <a href="/user/{{ user.id }}" class="text-lg font-medium text-white hover:text-indigo-600">{{ user.username }}</a>
                            <div class="flow-root">
                                <ul class="-m-1 flex grid grid-cols-1">
                                    <li class="p-1 leading-none">
                                        <a href="mailto:{{ user.email }}" class="text-xs font-medium text-gray-300 hover:text-indigo-600">{{ user.email }}</a>
                                    </li>
                                    <li class="p-1 leading-none">
                                        <p class="text-xs font-medium text-gray-300"> User created the: {{ user.creation_date }} </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="mt-4 space-y-2">
                        {% for task in user.tasks %}
                            {% if task.status == 'Not Started' %}
                                {% set color = 'border-red-600' %}
                            {% elseif task.status == 'In Progress' %}
                                {% set color = 'border-yellow-600' %}
                            {% elseif task.status == 'Completed' %}
                                {% set color = 'border-green-600' %}
                            {% else %}
                                {% set color = 'border-gray-700' %}
                            {% endif %}
                            <li class="h-50 rounded-lg border {{ color }} p-4 hover:border-indigo-600 group grid grid-cols-2">
                                <a href="/task/{{ task.id }}" class="block ">
                                    <strong class="font-medium text-white group-hover:text-indigo-600">{{ task.name }}</strong>
                                    <p class="mt-1 text-xs font-medium text-gray-300 truncate w-1/2">{{ task.description }}</p>
                                    <p class="mt-1 text-xs font-medium text-gray-300"> Deadline: {{ task.due_date }}</p>
                                    <p class="mt-1 text-xs font-medium text-gray-300"> Status: {{ task.status }}</p>
                                </a>
                                <div class="r-0 grid lg:grid-cols-4 grid-cols-3">
                                    <label for="delete" class="block order-last lg:col-auto col-start-2 col-end-3 lg:h-10 lg:w-10 m-3 cursor-pointer rounded-full bg-black shadow-sm h-7 w-7" onclick="window.location.href='/task/{{ task.id }}/delete?&from=app_todo';">
                                        <span class="sr-only">Delete</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:h-8 lg:w-8 h-5 w-5 mt-1 ml-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                                        </svg>
                                    </label>
                                    <label for="red" class="block lg:h-10 lg:w-10 m-3 cursor-pointer rounded-full bg-red-600 shadow-sm h-7 w-7" onclick="window.location.href='/task/{{ task.id }}/edit?status=Not Started&from=app_todo';">
                                        <span class="sr-only">Not Started</span>
                                    </label>
                                    <label for="yellow" class="block lg:h-10 lg:w-10 m-3 cursor-pointer rounded-full bg-yellow-600 shadow-sm h-7 w-7" onclick="window.location.href='/task/{{ task.id }}/edit?status=In Progress&from=app_todo';">
                                        <span class="sr-only">In Progress</span>
                                    </label>
                                    <label for="green" class="block lg:h-10 lg:w-10 m-3 cursor-pointer rounded-full bg-green-600 shadow-sm h-7 w-7" onclick="window.location.href='/task/{{ task.id }}/edit?status=Completed&from=app_todo';">
                                        <span class="sr-only">Completed</span>
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="/?new=1&id={{ user.id }}" class="block h-50 rounded-lg border hover:border-indigo-600 p-4 border-gray-700 group">
                                <strong class="font-medium text-white group-hover:text-indigo-600">Add a new task</strong>
                                <p class="mt-1 text-xs font-medium text-gray-300 group-hover:text-indigo-600">Create a new task for this user</p>
                            </a>
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </ul>
{% endblock %}