{% extends 'base.html.twig' %}

{% block title %}
    Log in to your todo account!
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline ">
        Log in to your todo account!
    </h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button type="submit" class="btn">Login</button>
    {{ form_end(form) }}
{% endblock %}